/* Imports */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Variables */
:root {
  --theme: #454cad;
  --dark-text: #5f6982;
  --light-bg: #f8f8f8;
}

/* Reset */
html, body, * {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: var(--dark-text);
  background-color: var(--light-bg);
}

/* Typography */
h1, h2 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--theme);
}

h2 {
  font-size: 2rem;
  color: var(--theme);
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Header */
.navbar-brand {
  font-size: 1.75rem;
}

.nav-link {
  font-size: 1rem;
  color: var(--dark-text);
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--theme);
}